**/.idea*
**/.vscode*
**/.bsp*
**/.bloop*
**/.ammonite*
**/.metals*
/venv/

/algorithms.iml
/algorithm_design_manual/.pytest_cache/
**/.DS_Store
k
/venv2/
/rust_algos/target/debug/
*/.pytest_cache/
*/.pymon
.pymon
*.pymon
__pycache__/*
.__pycache__/*

/rust_algos/target/

**/build*
**/.gradle*
**/.idea*
**/.vscode*
